* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-foreground: #f0fdfa;

  --neutral-dark: #0f172a;
  --neutral-medium: #64748b;
  --neutral-light: #f1f5f9;
  --neutral-dark-transparent: #0f172aa0;

  --primary-light: #ccfbf1;
  --primary-medium: #10b981;
  --secondary-medium-dark: #0e7490;
}

body {
  background-color: var(--neutral-dark);
  color: var(--text-foreground);
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play, .start, .restart {
  border: none;
  background-color: var(--primary-medium);
  color: var(--text-foreground);
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 10px 0;
}

.game {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.turn {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, min(30vw, 150px));
  grid-template-rows: repeat(3, min(30vw, 150px));
}

.square {
  background-color: transparent;
  border: 5px solid var(--neutral-medium);
  color: var(--text-foreground);
  font-size: 5rem;
}

.game-over {
  display: none;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.result {
  font-size: 3rem;
  text-align: center;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-medium-dark);
  padding: 25px;
  border-radius: 10px;
}

.scores * {
  text-align: center;
}

.scores p {
  font-size: 3rem;
}

.score {
  font-size: 1.5rem;
  margin: 10px 0;
}

.popup-container {
  background-color: var(--neutral-dark-transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--secondary-medium-dark);
  padding: 25px 50px;
  border-radius: 10px;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.players * {
  margin: 10px 0;
}

.players.computer, .players.friend {
  display: none;
}

.form-heading {
  text-align: center;
  font-size: 1.5rem;
}

.player-name input {
  margin-left: 10px;
  padding: 5px;
}

.player-name, .player-piece {
  display: flex;
  justify-content: space-between;
}